

<!-- About Section Start -->
<section class="about" id="about">
    <div class="about-img">
        <img src="assets/images/about.png" alt="">
    </div>
    <div class="about-text">
        <h3>About Us</h3>
        <p style="font-family:aria-checked"> We don't just make food. We make people's experience. Desi Palace
            is built <br>on the belief that dood should be special, and we carry that belief into everything we do.<br>
            Our aim is to deliver the higher quality food and service in a faster mode. <i>Biryani</i> fans will love our kitchen's offbeat and creative
            approach to ingredients. Our 50-cover restaurants keeps thing unfussy yet classily comfortable. Fastest delivery with <strong>Zero</strong>
            delivery charges. Seamless accepts cash on delivery and digital payment options.

        </p>
   
    </div>
    </section>
<!-- About Section End -->
    
    
    