/* Order Section Start */
.order{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    gap: 2.5rem;
    padding: 100px 8% 120px;
}
.order-text{
    margin-bottom: 10px;
}
.order-text h2{
    font-size: 30px;
    font-weight: 700;
    margin-bottom: 10px;
    text-shadow: 0px 1px 1px black;
}
.order-text h2 span{
    color: orange;
}
.order-text p{
    font-weight: 500;
}
.list{
    margin-top: 16px;
}
.list li{
    margin-bottom: 12px;
}
.list li a{
    display: block;
    color: black;
    font-size: 14px;
    transition: 0.5s ease;
}


.service a{
    padding: 9px;
    color: white;
    background: orange;
    font-weight: 600;
    letter-spacing: 1px;
    
    
}
.order-form{
    padding: 10px;
    margin:10px;
    border-style:ridge ;
    border-spacing:20px ;
    position: relative;
}
.order-form form input,
form textarea{
    width: 100%;
    padding: 14px;
    background: white;
    color: black;
    border: none;
    outline: none;
    font-size: 15px;
    border-radius: 10px;
    margin-bottom: 10px;
}
.order-form textarea{
    resize: none;
    height: 200px;
}
.order-form button{
    width: 130px;
    height: 30px;
    font-weight: 550;
    margin-top: 10px;
    background: orange;
    color: white;
    border-radius: 5px;
    border: none;
    transition: 0.5s ease;
    cursor: pointer;
    

}


@media (max-width:920px){
    .order{
        grid-template-columns: 1fr;
        max-width: 100%;
    }
}
/* Order Section End */
/* Reviews Start */
.reviews{
    padding: 100px 8% 120px;
    background: white;
}
.review-content{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, auto));
    align-items: center;
    gap: 2.5rem;
    margin-top: 5rem;
}
.box{
    background: #f9f9f9;
    padding: 35px 45px;
    height: 50vh;
    border-radius: 8px;
    transition: 0.5s ease;
    text-align: center;
}
.rating{
    color:orchid;
}
.img img{
    width: 100px;
    border-radius: 100px;
}
@media (max-width:920px){
    .review-content{
        grid-template-columns: 1fr;
    }
}
/* Reviews End */

/* Footer Start */
#footer{
    width: 100%;   
    background: #f9f9f9;
}
.footer-content{
    text-align: center;
    padding-top: 5%;
}
.footer-content .logo h3{
    font-size: 32px;
    font-weight: 600;
    text-shadow: 0px 1px 1px black;
}
.footer-content .logo h3 span{
    color: orange;
}
.footer-content p{
    font-weight: 550;
    letter-spacing: 1px;
}
.socail-links i{
    margin-top: 20px;
    padding: 10px;
    border-radius: 5px;
    background: black;
    color: white;
    font-size: 20px;
    margin-left: 10px;
    margin-bottom: 10px;
    transition: 0.5s ease;
    cursor: pointer;
}
.socail-links i:hover{
    background: orange;
}
.footer-bottom-content{
    text-align: center;
}
.footer-bottom-content p{
    font-size: 17px;
    font-weight: 550;
}
.footer-bottom-content p a{
    color: orange;
    font-weight: 600;
}
/* Footer End */





