.card{
   
    border:none;
    width:500px;
    padding:40px;
    position:absolute;
    
    left:50%;
    transform:translate(-50%,50%);
    background-color:orange;
}
body{
    background: #f9f9f9;
}