
<!-- Section Menu Start -->
<h3 id="menu-text">Our <span>Menu</span></h3>
<section class="menu" id="menu">
   <div class="menu-content">
       <div class="img-content">
           <img src="assets/images/biryani.png" alt="">
           <h3>Chicken Biryani</h3>
       </div>
       <div class="img-content">
           <img src="assets/images/muttonbiryani.png" alt="">
           <h3>Mutton Biryani</h3>
       </div>
       <div class="img-content">
           <img src="assets/images/eggbiryani.jpg" alt="">
           <h3>Egg Biryani</h3>
       </div>
   </div>

   <div class="menu-img">
       <img src="assets/images/menu-img.png" alt="">
   </div>

   <div class="menu-content">
       <div class="img-content">
           <img src="assets/images/shrimp.jpg" alt="">
           <h3>Shrimp Biryani</h3>
       </div>
       <div class="img-content">
           <img src="assets/images/paneerbiriyani.png" style="height: 100px;" alt="">
           <h3>Paneer Biryani</h3>
       </div>
       <div class="img-content">
           <img src="assets/images/vegbiryani.jpg" alt="">
           <h3>Veg Biryani</h3>
       </div>
   </div>
</section>
<!-- Section Menu End -->