<div class="header">
    <nav>
        <input type="checkbox" id="show-search">
        <input type="checkbox" id="show-menu">
        <label for="show-menu" class="menu-icon"><i class="fas fa-bars"></i></label>
        <div class="content">
        <div class="logo"><a href="index.html"><span><i>Desi Palace</i></span></a></div>



<ul class="links">

    <li><a routerLink="/Login" routerLinkActive="active">Login</a></li>
    <li><a routerLink="/Home" routerLinkActive="active">Home</a></li>
   
    
    <li><a routerLink="/Dishes" routerLinkActive="active">Dishes</a></li>
    <li><a routerLink="/Menu" routerLinkActive="active" >Menu</a></li>
    <li><a routerLink="/About" routerLinkActive="active">About</a></li>
    <li><a routerLink="/Order" routerLinkActive="active">Order</a></li>
   <!---- <li><a routerLink="/Review" routerLinkActive="active">Reviews</a></li>-->
    
   
    
</ul>
</div>
        
        
</nav>
</div>



<router-outlet></router-outlet>







