
<!-- Resviews Start -->

<div class="reviews" id="reviews">
    <div class="main-text">
        <h3>Customers <span>Review</span></h3>
    </div>
    <div class="review-content">
        <div class="box">
            <div class="img">
                <img src="assets/images/pic-1.png" alt="">
            </div>
            <h3>Pradeep Kaushik</h3>
            <div class="rating">
                <i class="fa-solid fa-star checked"></i>
                <i class="fa-solid fa-star checked"></i>
                <i class="fa-solid fa-star checked"></i>
                <i class="fa-solid fa-star checked"></i>
                <i class="fa-solid fa-star unchecked"></i>
            </div>
            <p><i>Delicious food and wonderful app.</i> Its very helpful and their service is good. I had a great experience
            with it and will continue to have it. This app is user friendly. And the point must not be missed is their immediate response. I will strongly support Desi Palace.</p>
        </div>
        <div class="box">
            <div class="img">
                <img src="assets/images/pic-2.png" alt="">
            </div>
            <h3>Praisy JohnWilson</h3>
            <div class="rating">
                <i class="fa-solid fa-star checked"></i>
                <i class="fa-solid fa-star checked"></i>
                <i class="fa-solid fa-star checked"></i>
                <i class="fa-solid fa-star checked"></i>
                <i class="fa-solid fa-star checked"></i>
            </div>
            <p>Quick loading time: Desi Palace app loads quickly, minimizing wait time for the users. The app allows users to track their order in a real time. And one reason I strongly
                recommend this app is it provides Zero delivery charges. Easy navigation: This app has a simple and user-friendly interface.
            </p>
        </div>
        <div class="box">
            <div class="img">
                <img src="assets/images/pic-3.png" alt="">
            </div>
            <h3>Trimal Sai</h3>
            <div class="rating">
                <i class="fa-solid fa-star checked"></i>
                <i class="fa-solid fa-star checked"></i>
                <i class="fa-solid fa-star checked"></i>
                <i class="fa-solid fa-star unchecked"></i>
                <i class="fa-solid fa-star unchecked"></i>
            </div>
            <p>App is simple to use with a good indexing but searching for a food restaurant is not applicable. Initially, I have been consistently having terrible experiences
                with this app. mainly wit regard to the delivery. But later because of the improvisions they made it works fine. I will recommend this app mainly because of the taste and service.
            </p>
        </div>
    </div>
    
    </div>
    
    
    <!-- Resviews End -->
    
    
    