<!-- Header Start 
<div class="header">
    <nav>
        <input type="checkbox" id="show-search">
        <input type="checkbox" id="show-menu">
        <label for="show-menu" class="menu-icon"><i class="fas fa-bars"></i></label>
        <div class="content">
            <div class="logo"><a href="index.html">FO<span>O</span>D</a></div>
           <ul class="links">
                <li><a href="#Login">Login</a></li>
                <li><a href="#home">Home</a></li>
                <li><a href="#dishes">Dishes</a></li>
                <li><a href="#menu" >Menu</a></li>
                <li><a href="#about">About</a></li>
                <li><a href="#order">Order</a></li>
                <li><a href="#reviews">Reviews</a></li>
                <li><a href="#login">Login</a></li>

                
               <li><a href="#login&signup" >Login & Signup</a></li>
                
            </ul>
            
        </div>
        
        
    </nav>
</div>-->
<!-- Header End 
<Home Section Start -->
    
    <section class="home" id="home">
        <div class="home-content">
            <h3>Welcome To <span>D</span>esi Palace</h3>
            <h2>Eat Fresh & Healthy Foo<span>d</span></h2><br>
           
        </div>
        <div >
            <img src="assets/images/background-img.png" alt="">
        </div>
    </section>

<!-- Home Section End -->

<!-- Top Card Start 
<section class="top-cards">
    <div class="top-cards-content">
        <div class="row">
            <img src="./images/.png" alt="">
            <div class="layer">
                <h3>Chicken Baryani</h3>
                <p>Lorem ipsum dolor sit amet consectetur.</p>
                <button>Order Now</button>
            </div>
        </div>
        <div class="row">
            <img src="./images/top-image2.png" alt="">
            <div class="layer">
                <h3>Burger</h3>
                <p>Lorem ipsum dolor sit amet consectetur.</p>
                <button>Order Now</button>
            </div>
        </div>
        <div class="row">
            <img src="./images/top-image3.png" alt="">
            <div class="layer">
                <h3>Fast Food</h3>
                <p>Lorem ipsum dolor sit amet consectetur.</p>
                <button>Order Now</button>
            </div>
        </div>
        <div class="row">
            <img src="./images/top-image4.png" alt="">
            <div class="layer">
                <h3>Pizza</h3>
                <p>Lorem ipsum dolor sit amet consectetur.</p>
                <button>Order Now</button>
            </div>
        </div>
    </div>
</section>
 Top Card End -->


